body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
html {
  background-color: black;
}
@font-face {
  font-family: "outfit";
  src: url(fonts/Outfit-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Sora";
  src: url(fonts/Sora-VariableFont_wght.ttf) format("truetype");
}

.parallax-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

}

.parallax-bg {
  position: absolute;
  top: 0;
  left: -10%;
  width: 120%;
  height: 100%;
  background-size: contain;
  transform-origin: center center;
  transition: transform 0.8s ease-out;
  z-index: -1;
}

.front-wave {
  background-image: url("big wave front.png");
  background-repeat: no-repeat; /* Add your front wave image URL */
  transform: scale(1.5);
  margin-top: 20rem; /* Adjust this value to control the parallax effect */
}

.back-wave {
  background-image: url("small wave.png");
  background-repeat: no-repeat;
  margin-top: 16rem; /* Add your smaller wave image URL */
  transform: scale(2); /* Adjust this value to control the parallax effect */
}

.content {
  position: relative;
  z-index: 1;
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
h4 {
  color: #f5f5ee;
  font-family: Sora;
  font-weight: 100;

}
.Frontend h1 {
  color: #f5f5ee;
  font-family: outfit;
  font-size: 60px;
  margin-bottom: 0px;
}
.title img {
  background-color: #f5f5ee;
  margin-top: 12px;
  transition: transform .1s;
}

.title img:hover {
  transform: scale(1.1);
}
.Frontend_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 30px 0 30px;
}

.Projects {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Projects li {
  text-align: end;
  line-height: 30px;
  list-style-type: none;
}
.Projects li a {
  font-size: 12px;
  color: #f5f5ee; /* Text color */
  font-family: Sora;
  font-weight: 100;
  text-decoration: none;
}
.Projects h1 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  color: #f5f5ee;
  font-family: outfit;
  font-size: 100px;
}
.Frontend p {
  font-size: 12px;
  color: #f5f5ee; /* Text color */
  font-family: Sora;
  font-weight: 100;
}
.project {
  position: relative;
  padding-bottom: 5px;
}
.project::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.5px;
  bottom: 1.5px;
  left: 0;
  background-color:#f5f5ee;
  transform-origin: 50%;
  transition: transform 0.1s ease-out;
}
.project:hover::after {
  transform: scaleX(1);
  transform-origin: 100%;
}


